[Desktop Entry]
Name=Monument Valley


X-KDE-PluginInfo-Name=MonumentValley
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=LGPL 2.1+
