[Desktop Entry]
Name=Sunset Mountain Top


X-KDE-PluginInfo-Name=SunsetMountainTop
X-KDE-PluginInfo-Author=Madhu Shesharam
X-KDE-PluginInfo-Website=https://www.rawpixel.com/madhushesharam
X-KDE-PluginInfo-License=LGPL 2.1+
